.element {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    padding-left: 21%;
    overflow: auto;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

div {
    width: 50%;
    border: 15px solid #f6bacb;
    background-color: #f6bacb;
    border-radius: 25px;
    padding: 50px;
    margin: 20px;
}

.hover-rotate {
    overflow: hidden;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
}
  
.hover-rotate img {
    transition: all 0.3s;
    max-width: 100%;
}
  
.hover-rotate:hover img {
    transform: scale(1) rotate(10deg);
}